// COLORS
$defaultColor: Black;
$white1: #F1F1F1;
$white2: #d9d9d9;

$pink1: #CC0052;

$blue1: #2273FD;

$darkBlue1: #0c0f1f;
$darkBlue2: rgb(19, 24, 45);

$red: #d22d2d;
$orange: #f06542;
$green: #17823b;

// FONTS


// SIZES
$primaryFontSize: 1em;
$secondaryFontSize: 1.1em;
$tertiaryFontSize: 1.2em;
$smallFontSize: 0.9em;
$smallerFontSize: 0.8em;
$bigFontSize: 1.4em;

// BREAK-POINTS
$break-1: 768px;
$break-2: 1170px;
$break-3: 1600px;