.errorNotice {
    color: $red;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.errorNotice button {
    background-color: transparent;
    border: none;
    outline: none;
    color: $red;
    cursor: pointer;
}
.loadingWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}
.loadingMessage {
    margin: auto;
}