.loginWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}
.loginForm {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 0 40% 0 40%;
    text-align: right;
    margin: auto;
    @media all and (max-width: $break-1){
        padding: 0 0 0 0;
    }
    @media all and (max-width: $break-2){
        padding: 0 5% 0 5%;
    }
}
.loginForm input {
    width: 100%;
    margin-bottom: 5%;
    padding: 2%;
    font-family: 'Ubuntu', sans-serif;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-color: $white1;
    border-width: 6px;
    background-color: $darkBlue2;
    color: $white1;
    font-weight: normal;
    font-size: 1.2em;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.loginForm input:focus {
    border-color: $pink1;
    outline: none;
}
.loginSubmit {
    width: 30% !important;
    border-color: $pink1 !important;
}
.loginSubmit:hover {
    width: 30% !important;
    border-color: $white1 !important;
    color: $pink1 !important;
    cursor: pointer;
}
input {
    filter: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $darkBlue2 inset !important;
    -webkit-text-fill-color: $white1 !important;
}
.logOut {
    width: max-content;
    margin-bottom: 5%;
    padding: 2%;
    font-family: 'Ubuntu', sans-serif;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-color: $pink1;
    border-width: 6px;
    background-color: $darkBlue2;
    color: $white1;
    font-weight: normal;
    font-size: 1.2em;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.logOut:hover {
    border-color: $white1 !important;
    color: $pink1 !important;
    cursor: pointer;
}