.userProfileWrapper {
    text-align: center;
    width: 30%;
    padding: 0 5% 0 0;
}
.userImage {
    font-size: 10em !important;
}
.userLabel {
    font-size: 0.8em;
    color: $white2;
}
.userData {
    margin-top: 0;
    padding-top: 0;
    font-size: 2em
;
}